<div id="breadcrumbs"><p class="breadecrumbs"><a href="/wdi_gdf_facts/index">Home</a>&nbsp;&gt;&nbsp;<%= @country_name %> (<%= @country %>)</p></div>

<div>
<a href="/wdi_gdf_facts/summary?target_country_code=<%= @country %>">Summary for <%= @country_name %></a>
</div>

<table id="data-t-l" >
 <tr>
  <th>Series Topic & Subtopic</th>
  <th>Number of Series</th>
 </tr>

<% @c_subtopic_list.each do |ex| %>
<tr>
<td id="td-p" ><a href="/wdi_gdf_facts/show?target_subtopic=<%= CGI.escape(ex[0]) %>&target_country_code=<%= @country %>"><%= h ex[2] %>,  &nbsp;<%= h ex[0]%></a></td>
<td id="td-d" ><%= h ex[1] %></td>
</tr>
<% end %>
</table>
