<div id="breadcrumbs"><p class="breadecrumbs"><a href="/wdi_gdf_facts/index">Home</a>&nbsp;&gt;&nbsp;<a href="/wdi_gdf_facts/list?search_string=<%= @country %>"><%= @country_name %> (<%= @country %>)</a>&nbsp;&gt;&nbsp;'Summary for <%= @country_name %> in <%= @period %>'</p></div>
<span>
   <form action="/wdi_gdf_facts/summary" method="get" >
	<input type="hidden" name="target_country_code" value="<%= @country %>">
    <select name="period">
		<option value="" selected>--Please select--</option>
		<option value="1960" >1960</option>
		<option value="1961" >1961</option>
		<option value="1962" >1962</option>
		<option value="1963" >1963</option>
		<option value="1964" >1964</option>
		<option value="1965" >1965</option>
		<option value="1966" >1966</option>
		<option value="1967" >1967</option>
		<option value="1968" >1968</option>
		<option value="1969" >1969</option>
		<option value="1970" >1970</option>
		<option value="1971" >1971</option>
		<option value="1972" >1972</option>
		<option value="1973" >1973</option>
		<option value="1974" >1974</option>
		<option value="1975" >1975</option>
		<option value="1976" >1976</option>
		<option value="1977" >1977</option>
		<option value="1978" >1978</option>
		<option value="1979" >1979</option>
		<option value="1980" >1980</option>
		<option value="1981" >1981</option>
		<option value="1982" >1982</option>
		<option value="1983" >1983</option>
		<option value="1984" >1984</option>
		<option value="1985" >1985</option>
		<option value="1986" >1986</option>
		<option value="1987" >1987</option>
		<option value="1988" >1988</option>
		<option value="1989" >1989</option>
		<option value="1990" >1990</option>
		<option value="1991" >1991</option>
		<option value="1992" >1992</option>
		<option value="1993" >1993</option>
		<option value="1994" >1994</option>
		<option value="1995" >1995</option>
		<option value="1996" >1996</option>
		<option value="1997" >1997</option>
		<option value="1998" >1998</option>
		<option value="1999" >1999</option>
		<option value="2000" >2000</option>
		<option value="2001" >2001</option>	
		<option value="2002" >2002</option>
		<option value="2003" >2003</option>
		<option value="2004" >2004</option>
		<option value="2005" >2005</option>
		<option value="2006" >2006</option>
		<option value="2007" >2007</option>
		<option value="2008" >2008</option>
	</select>
	<input type="submit" value="Change to Other Period" >
   </form>
</span>
<span>
   <form action="/wdi_gdf_facts/summary" method="get" >
	<input type="hidden" name="period" value="<%= @period %>">
    <select name="target_country_code">
		<option value="" selected>--Please select--</option>
		<optgroup lavel="Geographical Grouping:">
		<option value="WLD" >World</option>
		<option value="EAP" >East Asia & Pacific</option>
		<option value="SAS" >South Asia</option>
		<option value="MNA" >Middle East & North Africa</option>
		<option value="ECA" >Europe & Central Asia</option>
		<option value="SSA" >Sub Saharan Africa</option>
		<option value="LAC" >Latin America & the Caribbean</option>
		<option value="LLC" >Landlocked Developing Countries</option>
		<option value="SID" >Small Island Developing States</option>
		</optgroup>
		<optgroup lavel="Economic Grouping:">
		<option value="LDC" >Least developed countries</option>
		<option value="HPC" >Heavily indebted poor countries</option>
		<option value="LIC" >Low income countries</option>
		<option value="LMC" >Lower middle income countries</option>
		<option value="LMY" >Low & middle income countries</option>
		<option value="MIC" >Middle income countries</option>
		<option value="UMC" >Upper middle income countries</option>
		<option value="HIC" >High income countires</option>
		<option value="EMU" >Euro area</option>
		<option value="DAC" >DAC countries</option>
		</optgroup>
		<option value="WLD" >World</option>
		<option value="AFG" >Afghanistan</option>
		<option value="ALB" >Albania</option>
		<option value="DZA" >Algeria</option>
		<option value="ASM" >American Samoa</option>
		<option value="ADO" >Andorra</option>
		<option value="AGO" >Angola</option>
		<option value="ATG" >Antigua and Barbuda</option>
		<option value="ARG" >Argentina</option>
		<option value="ARM" >Armenia</option>
		<option value="ABW" >Aruba</option>
		<option value="AUS" >Australia</option>
		<option value="AUT" >Austria</option>
		<option value="AZE" >Azerbaijan</option>
		<option value="BHS" >Bahamas, The</option>
		<option value="BHR" >Bahrain</option>
		<option value="BGD" >Bangladesh</option>
		<option value="BRB" >Barbados</option>
		<option value="BLR" >Belarus</option>
		<option value="BEL" >Belgium</option>
		<option value="BLZ" >Belize</option>
		<option value="BEN" >Benin</option>
		<option value="BMU" >Bermuda</option>	
		<option value="BTN" >Bhutan</option>
		<option value="BOL" >Bolivia</option>
		<option value="BIH" >Bosnia and Herzegovina</option>
		<option value="BWA" >Botswana</option>
		<option value="BRA" >Brazil</option>
		<option value="BRN" >Brunei Darussalam</option>
		<option value="BGR" >Bulgaria</option>
		<option value="BFA" >Burkina Faso</option>
		<option value="BDI" >Burundi</option>
		<option value="KHM" >Cambodia</option>
		<option value="CMR" >Cameroon</option>
		<option value="CAN" >Canada</option>
		<option value="CPV" >Cape Verde</option>
		<option value="CYM" >Cayman Islands</option>
		<option value="CAF" >Central African Republic</option>
		<option value="TCD" >Chad</option>
		<option value="CHI" >Channel Islands</option>
		<option value="CHL" >Chile</option>
		<option value="CHN" >China</option>
		<option value="COL" >Colombia</option>
		<option value="COM" >Comoros</option>
		<option value="ZAR" >Congo, Dem. Rep.</option>
		<option value="COG" >Congo, Rep.</option>
		<option value="CRI" >Costa Rica</option>
		<option value="CIV" >Cote d'Ivoire</option>
        <option value="HRV" >Croatia</option>
        <option value="CUB" >Cuba</option>
        <option value="CYP" >Cyprus</option>
        <option value="CZE" >Czech Republic</option>
        <option value="DNK" >Denmark</option>
        <option value="DJI" >Djibouti</option>
        <option value="DMA" >Dominica</option>
        <option value="DOM" >Dominican Republic</option>
        <option value="ECU" >Ecuador</option>
        <option value="EGY" >Egypt, Arab Rep.</option>
        <option value="SLV" >El Salvador</option>
        <option value="GNQ" >Equatorial Guinea</option>
        <option value="ERI" >Eritrea</option>
        <option value="EST" >Estonia</option>
        <option value="ETH" >Ethiopia</option>
        <option value="FRO" >Faeroe Islands</option>
        <option value="FJI" >Fiji</option>
        <option value="FIN" >Finland</option>
        <option value="FRA" >France</option>
        <option value="PYF" >French Polynesia</option>
        <option value="GAB" >Gabon</option>
        <option value="GMB" >Gambia, The</option>
        <option value="GEO" >Georgia</option>
        <option value="DEU" >Germany</option>
        <option value="GHA" >Ghana</option>
        <option value="GIB" >Gibraltar</option>
        <option value="GRC" >Greece</option>
        <option value="GRL" >Greenland</option>
        <option value="GRD" >Grenada</option>
        <option value="GUM" >Guam</option>
        <option value="GTM" >Guatemala</option>
        <option value="GIN" >Guinea</option>
        <option value="GNB" >Guinea-Bissau</option>
        <option value="GUY" >Guyana</option>
        <option value="HTI" >Haiti</option>
        <option value="HND" >Honduras</option>
        <option value="HKG" >Hong Kong SAR, China</option>
        <option value="HUN" >Hungary</option>
        <option value="ISL" >Iceland</option>
        <option value="IND" >India</option>
        <option value="IDN" >Indonesia</option>
        <option value="IRN" >Iran, Islamic Rep.</option>
        <option value="IRQ" >Iraq</option>
        <option value="IRL" >Ireland</option>
        <option value="IMY" >Isle of Man</option>
        <option value="ISR" >Israel</option>
        <option value="ITA" >Italy</option>
        <option value="JAM" >Jamaica</option>
        <option value="JPN" >Japan</option>
        <option value="JOR" >Jordan</option>
        <option value="KAZ" >Kazakhstan</option>
        <option value="KEN" >Kenya</option>
        <option value="KIR" >Kiribati</option>
        <option value="PRK" >Korea, Dem. Rep.</option>
        <option value="KOR" >Korea, Rep.</option>
        <option value="KSV" >Kosovo</option>
        <option value="KWT" >Kuwait</option>
        <option value="KGZ" >Kyrgyz Republic</option>
        <option value="LAO" >Lao PDR</option>
        <option value="LVA" >Latvia</option>
        <option value="LBN" >Lebanon</option>
        <option value="LSO" >Lesotho</option>
        <option value="LBR" >Liberia</option>
        <option value="LBY" >Libya</option>
        <option value="LIE" >Liechtenstein</option>
        <option value="LTU" >Lithuania</option>
        <option value="LUX" >Luxembourg</option>
        <option value="MAC" >Macao SAR, China</option>
        <option value="MKD" >Macedonia, FYR</option>
        <option value="MDG" >Madagascar</option>
        <option value="MWI" >Malawi</option>
        <option value="MYS" >Malaysia</option>
        <option value="MDV" >Maldives</option>
        <option value="MLI" >Mali</option>
        <option value="MLT" >Malta</option>
        <option value="MHL" >Marshall Islands</option>
        <option value="MRT" >Mauritania</option>
        <option value="MUS" >Mauritius</option>
        <option value="MYT" >Mayotte</option>
        <option value="MEX" >Mexico</option>
        <option value="FSM" >Micronesia, Fed. Sts.</option>
        <option value="MDA" >Moldova</option>
        <option value="MCO" >Monaco</option>
        <option value="MNG" >Mongolia</option>
        <option value="MNE" >Montenegro</option>
        <option value="MAR" >Morocco</option>
        <option value="MOZ" >Mozambique</option>
        <option value="MMR" >Myanmar</option>
        <option value="NAM" >Namibia</option>
        <option value="NPL" >Nepal</option>
        <option value="NLD" >Netherlands</option>
        <option value="ANT" >Netherlands Antilles</option>
        <option value="NCL" >New Caledonia</option>
        <option value="NZL" >New Zealand</option>
        <option value="NIC" >Nicaragua</option>
        <option value="NER" >Niger</option>
        <option value="NGA" >Nigeria</option>
        <option value="NAF" >North Africa</option>
        <option value="MNP" >Northern Mariana Islands</option>
        <option value="NOR" >Norway</option>
        <option value="OMN" >Oman</option>
        <option value="PAK" >Pakistan</option>
        <option value="PLW" >Palau</option>
        <option value="PAN" >Panama</option>
        <option value="PNG" >Papua New Guinea</option>
        <option value="PRY" >Paraguay</option>
        <option value="PER" >Peru</option>
        <option value="PHL" >Philippines</option>
        <option value="POL" >Poland</option>
        <option value="PRT" >Portugal</option>
        <option value="PRI" >Puerto Rico</option>
        <option value="QAT" >Qatar</option>
        <option value="ROM" >Romania</option>
        <option value="RUS" >Russian Federation</option>
        <option value="RWA" >Rwanda</option>
        <option value="WSM" >Samoa</option>
        <option value="SMR" >San Marino</option>
        <option value="STP" >Sao Tome and Principe</option>
        <option value="SAU" >Saudi Arabia</option>
        <option value="SEN" >Senegal</option>
        <option value="SRB" >Serbia</option>
        <option value="SYC" >Seychelles</option>
        <option value="SLE" >Sierra Leone</option>
        <option value="SGP" >Singapore</option>
        <option value="SVK" >Slovak Republic</option>
        <option value="SVN" >Slovenia</option>
        <option value="SLB" >Solomon Islands</option>
        <option value="SOM" >Somalia</option>
        <option value="ZAF" >South Africa</option>
        <option value="ESP" >Spain</option>
        <option value="LKA" >Sri Lanka</option>
        <option value="KNA" >St. Kitts and Nevis</option>
        <option value="LCA" >St. Lucia</option>
        <option value="VCT" >St. Vincent and the Grenadines</option>
        <option value="SDN" >Sudan</option>
        <option value="SUR" >Suriname</option>
        <option value="SWZ" >Swaziland</option>
        <option value="SWE" >Sweden</option>
        <option value="CHE" >Switzerland</option>
        <option value="SYR" >Syrian Arab Republic</option>
        <option value="TJK" >Tajikistan</option>
        <option value="TZA" >Tanzania</option>
        <option value="THA" >Thailand</option>
        <option value="TMP" >Timor-Leste</option>
        <option value="TGO" >Togo</option>
        <option value="TON" >Tonga</option>
        <option value="TTO" >Trinidad and Tobago</option>
        <option value="TUN" >Tunisia</option>
        <option value="TUR" >Turkey</option>
        <option value="TKM" >Turkmenistan</option>
        <option value="TCA" >Turks and Caicos Islands</option>
        <option value="TUV" >Tuvalu</option>
        <option value="UGA" >Uganda</option>
        <option value="UKR" >Ukraine</option>
        <option value="ARE" >United Arab Emirates</option>
        <option value="GBR" >United Kingdom</option>
        <option value="USA" >United States</option>
        <option value="URY" >Uruguay</option>
        <option value="UZB" >Uzbekistan</option>
        <option value="VUT" >Vanuatu</option>
        <option value="VEN" >Venezuela, RB</option>
        <option value="VNM" >Vietnam</option>
        <option value="VIR" >Virgin Islands (U.S.)</option>
        <option value="WBG" >West Bank and Gaza</option>
        <option value="YEM" >Yemen, Rep.</option>
        <option value="ZMB" >Zambia</option>
        <option value="ZWE" >Zimbabwe</option>
	</select>
	<input type="submit" value="Change to Other Areas/Countries" >
   </form>
</span>

<table id="data-t-l" >
 <tr>
  <th>Series Name</th>
  <th>Value</th>
 </tr>
<% @overview.each do |ex| %>
<tr>
 <td id="td-p" >
 <a href="/wdi_gdf_facts/detail?target_series_code=<%= ex.series_code %>&target_country_code=<%= ex.country_code %>">
 <%= ex.series_name %>
 </a>
 </td>
 <td id="td-d" ><%= ex.data_value.to_f.round(1) %> (<%= ex.period_value %>)</td>
</tr>
<% end %>
</table>
<p>
<div id="addtoany">
<!-- AddToAny BEGIN -->
<a class="a2a_dd" href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"/></a>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
</div>
</p>
